// Colors
$color-primary: #125d98;
$color-secondary: #3c8dad;
$color-accent: #f5a962;
$color-light: #dddddd;
$color-white: #fff;

// Breakpoints
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);
