<!-- Carrier post -->
<div class="post">
  <header class="post--carrier"><p>Carrier</p></header>
  <div class="post__detail">
    <span>Location:</span>
    <p>Baku</p>
  </div>
  <div class="post__detail">
    <span>Departure date:</span>
    <p>01.01.2001</p>
  </div>
  <div class="post__detail">
    <span>Destination:</span>
    <p>Azerbaijan</p>
  </div>
  <div class="post__detail">
    <span>Arrival date:</span>
    <p>01.01.2001</p>
  </div>
  <div class="post__detail">
    <span>Contact number:</span>
    <p>+994552095013</p>
  </div>
  <div class="post__detail">
    <span>Additional note:</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, sit.</p>
  </div>
</div>

<!-- Sender post -->
<div class="post">
  <header class="post--sender"><p>Sender</p></header>
  <div class="post__detail">
    <span>Location:</span>
    <p>Baku</p>
  </div>
  <div class="post__detail">
    <span>Destination:</span>
    <p>Azerbaijan</p>
  </div>
  <div class="post__detail">
    <span>Due date:</span>
    <p>01.01.2001</p>
  </div>
  <div class="post__detail">
    <span>Contact number:</span>
    <p>+994552095013</p>
  </div>
  <div class="post__detail">
    <span>Sending item:</span>
    <a href="#" target="_blank" rel="noopener">Image</a>
  </div>
  <div class="post__detail">
    <span>Additional note:</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, sit.</p>
  </div>
</div>
