<section class="features block">
  <div class="features__container container">
    <div class="feature">
      <img src="images/feature1.svg" />
      <h2>Real-time collaboration</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
        illum animi similique repellendus voluptatem eius?
      </p>
    </div>
    <div class="feature">
      <img src="images/feature3.svg" />
      <h2>Real-time collaboration</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
        illum animi similique repellendus voluptatem eius?
      </p>
    </div>
    <div class="feature">
      <img src="images/feature2.svg" />
      <h2>Real-time collaboration</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
        illum animi similique repellendus voluptatem eius?
      </p>
    </div>
  </div>
</section>
