<section class="footer block">
  <div></div>
  <div class="footer__action">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing</h2>
    <a href="#">Get Started</a>
  </div>
  <footer class="container">
    <p>&copy; AirGo 2022</p>
    <a href="#" target="_blank" rel="noopener noreferrer"
      >Terms and Conditions</a
    >
  </footer>
</section>

<!-- Search page footer -->
<section class="footer-mini block">
  <footer class="container">
    <p>&copy; AirGo 2022</p>
    <a href="#" target="_blank" rel="noopener noreferrer"
      >Terms and Conditions</a
    >
  </footer>
</section>
