@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

.footer {
  padding-bottom: 3rem;
  padding-top: 13rem;
  position: relative;

  & > div:first-of-type {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color-primary;
    z-index: -1;
    clip-path: ellipse(83% 85% at 50% 100%);
  }

  &__action {
    max-width: 500px;
    text-align: center;
    margin: 0 auto 8.5rem;

    h2 {
      font-size: 2.5rem;
      line-height: 3rem;
      text-transform: capitalize;
      margin-bottom: 2rem;
      word-spacing: 2px;
    }

    a {
      @include btn($color-primary, $color-white);
      padding: 1rem 3rem;
      line-height: 4rem;
      border: 1.5px solid $color-white;

      &:hover {
        background: $color-white;
        color: $color-primary;
      }
    }
  }

  @include md {
    & > div:first-of-type {
      clip-path: ellipse(73% 95% at 50% 100%);
    }
  }
}

.footer-mini {
  background: $color-primary;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer,
.footer-mini {
  color: $color-white;

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    opacity: 0.7;

    a {
      transition: all 0.5s;

      &:hover {
        color: $color-accent;
      }
    }
  }
}
